.tabs {
	// .tabs__navigation

	&__navigation {
		display: inline-flex;
		// justify-content: start;
		flex-wrap: wrap;
		@include adaptiveValue("margin-bottom", 65, 20);
		@include adaptiveValue("column-gap", 100, 20);
		border-bottom: 1px solid rgba(44, 46, 63, 0.3);
		padding-block: 12px;
		border-top: 1px solid rgba(44, 46, 63, 0.3);
	}

	// .tabs__title

	&__title {
		padding-block: rem(4);
		color: rgba(44, 46, 63, 0.3);
		transition: all 0.5s ease;
		will-change: transform;
		&._tab-active {
			transform: translate3d(0, -2px, 0);
			border-bottom: 1px solid $accentColor;
			color: $accentColor;
		}
	}

	// .tabs__content

	&__content {
		will-change: transform;
		// border: 1px solid #eee;
		// padding: rem(10) rem(15);
	}

	// .tabs__body

	&__body {
		will-change: transform;
	}
}
